<ul>
  <% @books.each do |book| %>
  <li data-id="<%= book.id %>" data-token="<%= csrf_token %>">
    <%= h(book.bookname) %>
    <%= h(book.author) %>
    <%= h(book.publisher) %>
    <%= book.points %>
    <span class="delete">[x]</span>
  </li>
  <% end %>
</ul>
<a href="/home">戻る</a>
